@{
    ViewData["Title"] = "About";
}
<header>
    <h2>About StoreValidator</h2>
    <ul>
        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li><a asp-action="Create" asp-controller="Home">Add Store</a></li>
    </ul>
</header>


<main>
    <p>A simple sample store validator using ASP.net Core 2.1 & the Fluent Validation framework.</p>


    <p>The initial validation is done using rules configured from FluentValidation, then by data anotations, which as a final step enforce data integrity before loading into the database.</p>


    <p>Links for reference....</p>
    <p>https://fluentvalidation.net/</p>
    <p>https://www.asp.net/</p>
</main>

