@{
    ViewData["Title"] = "About";
}
<header>
    <h2>About StoreValidator</h2>
    <ul>
        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li><a asp-action="Create" asp-controller="Home">Add Store</a></li>
    </ul>
</header>


<main>
    <p>some info</p>
</main>

