@model Store

@{
    ViewBag.Title = "Create";

<header>
    <h2>Add Store</h2>
  <ul>
  <li><a asp-action="Index" asp-controller="Home">Home</a></li>
  <li><a asp-action="Create" asp-controller="Home">Add Store</a></li>      
  <li><a asp-action="About" asp-controller="Home">About</a></li>
</ul>
</header>   

<form method="post">
<main>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <span asp-validation-for="Name"></span>

    <div>
        <label asp-for="Desc"></label>
        <input asp-for="Desc" />
        <span asp-validation-for="Desc"></span>
    </div>

    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" />
        <span asp-validation-for="Address"></span>
    </div>

    <div>
        <label asp-for="PostCode"></label>
        <input asp-for="PostCode" />
        <span asp-validation-for="PostCode"></span>
    </div>

    <div>
        <label asp-for="StoreSize"></label>
        <input asp-for="StoreSize" />
        <span asp-validation-for="StoreSize"></span>
    </div>

    <div>
        <label asp-for="OpenDate"></label>
        <input asp-for="OpenDate" />
        <span asp-validation-for="OpenDate"></span>
    </div>
    <div>
        <label asp-for="Concessions"></label>
        <input type="checkbox" asp-for="Concessions">
        <span asp-validation-for="Concessions"></span>
    </div>

    <div>
        <label asp-for="Departments"></label>
        <select asp-for="Departments" asp-items="@Html.GetEnumSelectList(typeof(Department))"></select>
        <span asp-validation-for="Departments"></span>
    </div>

    <div>
        <label asp-for="StoreType"></label>
        <select asp-for="StoreType" asp-items="@Html.GetEnumSelectList(typeof(StoreType))"></select>
        <span asp-validation-for="StoreType"></span>
    </div>

     <div> 
        <input type="submit" name="save" value="Save" />
       </div>
    </main>
    </form> 
    }