@page

@model
@{
    ViewBag.Title = "Create";

}

<form method="post">

    @*<input type="text" name="Name" value="" />*@
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
    </div>
    <span asp-validation-for="Name"></span>

    <div>
        <label asp-for="StoreType"></label>
        <select asp-for="StoreType" asp-items="@Html.GetEnumSelectList(typeof(StoreType))"></select>
        <span asp-validation-for="StoreType"></span>
    </div>

    <input type="submit" name="save" value="Save" />

    <h4>@Html.ActionLink("Back", "Index")</h4>


</form> 