@model HomeIndexViewModel

@{
    ViewBag.Title = "Home Page";
}
<header>
    <h1>@Model</h1>
</header>


@foreach (var store in Model.Stores)
{
    @Html.Partial("_StoreListSummary", store)

}

<div>
<a asp-action="Create">Add Store</a>
</div>

