<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @*used to render content views*@
        @RenderBody()

    </div>
    <footer>
    </footer>
</body>
</html>
