@page "{id}"
@using StoreValidator.Pages.Stores
@model CreateModel

@{
    ViewBag.Title = "Create";

<header>
    <h2>Add Store</h2>
  <ul>
  <li><a asp-action="Index" asp-controller="Home">Home</a></li>
  <li><a asp-action="Create" asp-controller="Home">Add Store</a></li>      
  <li><a asp-action="About" asp-controller="Home">About</a></li>
</ul>
</header>   

<form method="post">
<main>
    <div>
        <label asp-for="Store.Name"></label>
        <input asp-for="Store.Name" />
    </div>
    <span asp-validation-for="Store.Name"></span>

    <div>
        <label asp-for="Store.Desc"></label>
        <input asp-for="Store.Desc" />
        <span asp-validation-for="Store.Desc"></span>
    </div>

    <div>
        <label asp-for="Store.Address"></label>
        <input asp-for="Store.Address" />
        <span asp-validation-for="Store.Address"></span>
    </div>

    <div>
        <label asp-for="Store.PostCode"></label>
        <input asp-for="Store.PostCode" />
        <span asp-validation-for="Store.PostCode"></span>
    </div>

    <div>
        <label asp-for="Store.StoreSize"></label>
        <input asp-for="Store.StoreSize" />
        <span asp-validation-for="Store.StoreSize"></span>
    </div>

    <div>
        <label asp-for="Store.OpenDate"></label>
        <input asp-for="Store.OpenDate" />
        <span asp-validation-for="Store.OpenDate"></span>
    </div>
    <div>
        <label asp-for="Store.Concessions"></label>
        <input type="checkbox" asp-for="Store.Concessions">
        <span asp-validation-for="Store.Concessions"></span>
    </div>

    <div>
        <label asp-for="Store.Department"></label>
        <select asp-for="Store.Department" asp-items="@Html.GetEnumSelectList(typeof(Departments))"></select>
        <span asp-validation-for="Store.Department"></span>
    </div>

    <div>
        <label asp-for="Store.StoreType"></label>
        <select asp-for="Store.StoreType" asp-items="@Html.GetEnumSelectList(typeof(StoreType))"></select>
        <span asp-validation-for="Store.StoreType"></span>
    </div>

     <div> 
        <input type="submit" name="save" value="Save" />
       </div>
    </main>
    </form> 
    }