@page
@using Store
@model StoreValidator.Pages.Stores.EditDepartmentModel
@{
    ViewData["Title"] = "EditDepartment";
}

<header>
    <h2>Edit @Store.Name</h2>
    <ul>
        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li><a asp-action="About" asp-controller="Home">About</a></li>
    </ul>
</header>


<main>





</main>

