@page "{DepartmentId}"
<!--@using StoreValidator.Pages.Stores
@model EditDepartmentModel
@{
    ViewBag.Title = "Edit Department";


<header>
    <h2>Edit departments</h2>
    <ul> 
        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li><a asp-action="About" asp-controller="Home">About</a></li>
    </ul>
</header>


<body>

@foreach (var store in Model.model)
{
    
}
</body>
}-->