@page "{id}"
@using StoreValidator.Pages.Stores
@model EditModel

@{
ViewBag.Title="Edit";

<header>
<h2>Edit @Model.Store.Name</h2>
  <ul>
  <li><a asp-action="Index" asp-controller="Home">Home</a></li>    
  <li><a asp-action="About" asp-controller="Home">About</a></li>
</ul>
</header>

<body>

    <main>
    <form method="post">

        <input type="hidden" asp-for="Store.Id"/>
        <div>
            <label asp-for="Store.Name"></label>
            <input asp-for="Store.Name" />
            <span asp-validation-for="Store.Name"></span>
        </div>
        <div>
            <label asp-for="Store.Address"></label>
            <input asp-for="Store.Address" />
            <span asp-validation-for="Store.Address"></span>
        </div>
        <div>
            <label asp-for="Store.PostCode"></label>
            <input asp-for="Store.PostCode" />
            <span asp-validation-for="Store.PostCode"></span>
        </div>
        <div>
            <label asp-for="Store.StoreSize"></label>
            <input asp-for="Store.StoreSize" />
            <span asp-validation-for="Store.StoreSize"></span>
        </div>
        <div>
            <label asp-for="Store.OpenDate"></label>
            <input asp-for="Store.OpenDate" />
            <span asp-validation-for="Store.OpenDate"></span>
        </div>
        <div>
            <label asp-for="Store.Concessions"></label>
            <input asp-for="Store.Concessions" />
            <span asp-validation-for="Store.Concessions"></span>
        </div>
        <div>
            <label asp-for="Store.StoreType"></label>
            <select asp-for="Store.StoreType" asp-items="@Html.GetEnumSelectList(typeof(StoreType))"></select>
            <span asp-validation-for="Store.StoreType"></span>
        </div>
        <div>
            <label asp-for="Store.Departments"></label>
            <select asp-for="Store.Departments" asp-items="@Html.GetEnumSelectList(typeof(Department))"></select>
            <span asp-validation-for="Store.Departments"></span>
        </div>  

    </form>
    </main>

    <div>
        <input type="submit" name="save" value="Save" />
        <a asp-action="Index" asp-controller="Home">Back</a>
    </div>
</body>

}